* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

input[type="file"] {
    display: none;
}
 label {
    padding: 20px 10px;
    width: 200px;
    background-color: rgb(21, 78, 153);
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-left: 6%;
    cursor: pointer;
}


.modalpost{
    display: none;
    visibility: hidden;
}

.header {
    position: relative;
    width: 100%;
    height: 65px;
    background-color: #004C82;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil{
    width: 30%;
    height: 100vh;
    position: absolute;
    right: 0px;
    border: 1px solid black;
}

.user{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-top: 15%;
}

.foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
}

.divUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    width: 100px;
}

.nomeUser {
    color: white;
}

.fotoUser {
    width: 50px;
}

.post {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 55vh;
    position: relative;
    border-radius: 10px;
    transform: translate(26%, 15%);
    border: 1px solid black;
}

.post .headerpost {
    display: flex;
}

.post .headerpost label {
    transform: translateY(25%);
}

.imgmenucoment {
    transform: translate(710px, 10px);
}

.post img {
    width: 100px;
}

.post .footerpost {
    display: flex;
    width: 100%;
    height: 4vh;
    transform: translateY(83px);
}

#like {
    margin: 0px;
    width: 50%;
    height: 4vh;
    border: 1px solid black;
    background-color: #cdcdcdb9;
    cursor: pointer;
}

#dislike {
    margin: 0px;
    width: 50%;
    height: 4vh;
    border: 1px solid black;
    border-radius: 0px 0px 10px 0px;
    background-color: #cdcdcdb9;
    cursor: pointer;
}

#menu {
	background:#0D5D94;
	color: #FFF;
	height: 40px;
	padding-left: 18px;
	border-radius: 0px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 40px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 40px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 40px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}