* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: #328ECB;
    width: 100%;
    height: 100vh;
}

.form {
    margin-top: 2%;
    margin-left: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #004C82;  
    border-radius: 10px;
    background-color: #ffffff;
    width: 35%;
    height: 90vh;
}

.inputzin{
    margin-top: 7%;
    padding: 20px;
    font-size: 20px;
    width: 82%;
    height: 65px;
    border-radius: 12px;
    color: #328ECB;
    -webkit-box-shadow: 5px 8px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 8px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 8px 2px 0px rgba(0,0,0,0.3);
}

.inputzin::placeholder {
    color: #328ECB;
    font-size: 20px;
}

.fileinp{
    margin-top: 8%;
    width: 200px;
    height: 30px;
    background: #328ECB;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 5px 8px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 8px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 8px 2px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

#cadastrar {
    margin-top: 20%;
    width: 70%;
    height: 60px;
    background: #328ECB;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    -webkit-box-shadow: 5px 8px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 8px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 8px 2px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

.voltar{
    margin-top: 8%;
    font-size: 20px;
    text-decoration: none;
}